/* register.css */

.Register {
    background-color: #003580;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lContainer {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .lContainer h1 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #003580;
  }
  
  .lInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .lInput::placeholder {
    color: #999;
  }
  
  .lButton {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #003580;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .lButton:hover {
    background-color: #002267;
  }
  
  .login span {
    color: #f44336;
    font-size: 14px;
    margin-top: 10px;
  }
  
  @media screen and (width < 480px) {
    .lContainer{
        margin: 0px 20px;
    }
  }