.homeContainer{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.homeTitle{
    width: 100%;
    max-width: 1024px;
    font-size: 20px;
}

@media (width<1024px) {
    .homeTitle{
        max-width: 950px;
    }
}