.mail{
    width: 100%;
    background-color: #003580;
    color: white;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px;
    padding: 50px;
}

.mailInputContainer>input{
    flex:3;
    height: 30px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
}

.mailInputContainer>button{
    flex:2;
    height: 30px;
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (width < 480px){
    .mailTitle, .mailDesc{
        width: max-content;
    }
    .mailInputContainer>input{
        flex:2;
    }
}